{% extends 'base.html.twig' %}

{% block body %}
    <header class="parallax-window">
        <img class="parallax-slider" src="{{ asset('bundles/app/img/header-bg.jpg') }}"/>
        <div class="container search-form">
            <div class="row justify-content-md-center">

            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-9">
				<div class="row">
                    <img class="img-responsive col-3" height="150" src="{{ asset('bundles/app/img/food-stall/' ~ foodstall.img) }}" alt="">
                    <div class="caption-full col-md-9">
                        <h2>{{ foodstall.name }}</h2>
                        <p>{{ foodstall.description }}</p>
                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-empty"></span> 4.5 stars
                            </p>
                        </div>
                    </div>
                </div>
				<br>
				<br>
				<h4>Food menu in {{ foodstall.name }}</h4>
				{% for menu in foodstallmenu %}
                <div class="row">
					<img class="img-responsive col-3" src="{{ asset('bundles/app/img/menu-item/' ~ menu.img) }}" alt="">
                    <div class="caption-full col-md-9">
                        <h4>{{ menu.name }}</h4>
                        <p>{{ menu.description }}</p>
                        <p class="pull-right">Price : <b>${{ menu.price|number_format(2) }}</b></p>
						<p>Calories : <b>{{ menu.calories }}</b></p>
                    </div>
                </div>
				<br>
				{% endfor %}


                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half-empty"></span> Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This stall was great in terms of quality. I would definitely recommend!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span> Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I go to this food stall everyday</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span> Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this
                                foodstall.</p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-3">
                <!-- Content Row -->
                <div>
                    <div>
                        <h3>Dietary Needs</h3>
                        <ul class="nav list-unstyled list-inline dietary-needs">
                            <li>
                                <img class="images" src="{{ asset('bundles/app/img/dietary/halal.png') }}"/>
                            </li>
                            <li>
                                <img class="images" src="{{ asset('bundles/app/img/dietary/vegetarian.png') }}"/>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3>Share it?</h3>
                        <ul class="nav list-unstyled justify-content-start list-social-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>

                    <!-- Map Column -->
                    <div>
                        <h3>Where is it?</h3>
                        <!-- Embedded Google Map -->
                        <div style="width: 100%;"><iframe width="100%" height="300" src="http://www.mapi.ie/create-google-map/map.php?width=100%&amp;height=300&amp;hl=en&amp;coord=1.3483645,103.68548199999998&amp;q=NTU+(Food%20court%202)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/fr/mesurer-distance-surface-google-maps.html">distance à vol d'oiseau google</a> en <a href="http://www.mapsdirections.info/fr/">www.mapsdirections.info/fr/</a></iframe></div><br />
                    </div>
                </div>
            </div>

        </div>
        <!-- Blog Comments -->

        <hr>

        <!-- Comments Form -->
        <div class="well col-md-9">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="media col-md-9">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Harry Potter
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <!-- Comment -->
        <div class="media col-md-9">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Donald Trump
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
                <!-- Nested Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Barack Obama
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                        commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                        nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <!-- End Nested Comment -->
            </div>
        </div>
    </section>
{% endblock %}