{% extends 'base.html.twig' %}

{% block body %}
    <header class="parallax-window">
        <img class="parallax-slider" src="{{ asset('bundles/app/img/header-bg.jpg') }}"/>
        <div class="container search-form search-home">
            <div class="row">
                <h1 class="search-heading col-12">Looking for a place to eat around the NTU campus?</h1>
            </div>
            <div class="row justify-content-md-center">
                <form class="col-lg-8" action="{{ path('search') }}" method="GET">
                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-xl search-input" name="q"
                               id="inlineFormInputGroup" placeholder="Search for food courts, cuisine, location...">
                        <span class="input-group-btn">
                                <button class="btn btn-secondary btn-xl" type="button">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <section id="last-publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-lg-center home-heading">Most Popular Food Courts</h2>
                    <hr>
                </div>
            </div>
            <div class="card-deck">
                <article class="card">
                    <img src="{{ asset('bundles/app/img/food-court/north-spine-food-court.png') }}"
                         alt="North Spine Food Court">
                    <div class="card-block">
                        <a href="{{ path('foodcourt', {id:11}) }}"><h4 class="card-title">North Spine Food Court</h4>
                        </a>
                        <p class="card-text">Located in North Spine, it is the biggest canteen in the NTU. It has a lot
                            of choices in cuisines and stalls.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 1 hour ago</small>
                    </div>
                </article>
                <article class="card">
                    <img src="{{ asset('bundles/app/img/food-court/food-court-2.png') }}" alt="Food court 2">
                    <div class="card-block">
                        <a href="{{ path('foodcourt', {id:2}) }}"><h4 class="card-title">Food Court 2</h4></a>
                        <p class="card-text">Very Popular canteen, located near Giant and 7 eleven.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 15 mins ago</small>
                    </div>
                </article>
                <article class="card">
                    <img src="{{ asset('bundles/app/img/food-court/pioneer-food-court.png') }}"
                         alt="Pioneer Food Court">
                    <div class="card-block">
                        <a href="{{ path('foodcourt', {id:12}) }}"><h4 class="card-title">Koufu @ the South Spine</h4>
                        </a>
                        <p class="card-text">This canteen offers a variety of foods, easily accessible in South Spine
                            Building.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 2 days ago</small>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-lg-center home-heading">About NTUFoodie</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ asset('bundles/app/img/ntufoodie-logo.svg') }}" alt="Logo NTUFoodie"/>
                </div>
                <div class="col-lg-9">
                    <p class="text-justify">
                        The Nanyang Technological University is a 2 km² campus with nine different schools. It has
                        <strong>13 canteens</strong> where students, staff, and even the public can have their meals.
                        Due to the wide range of choices, it is often difficult to decide where to eat. Additionally,
                        since the campus is huge, there may be some areas that people do not know or are not familiar
                        with. Our easy-to-use web app, NTUFoodie, will compile information on canteens and stalls and
                        help users filter by food preference. This benefits people who are new to the campus or are
                        interested interested in trying different stalls.
                    </p>
                    <p class="text-justify">
                        As the student population of NTU grows over time, more and more halls, canteens, and food stalls
                        open. Currently, there is limited information on the NTU website and on brochures. All of the
                        online information compiled together is still not comprehensive: one can find select menu
                        options and lists of canteens and stalls, but no feedback or anything that is regularly updated.
                        All other essential information that helps students have a good food experience is gained by
                        personal experience and word of mouth. Furthermore, only select stalls provide food that abides
                        by certain dietary restrictions. It can be extremely difficult for certain members of the
                        diverse campus population to eat in a way that meets both their dietary and tastebud needs.
                    </p>
                    <p class="text-justify">
                        To better serve the students, faculty, staff, and visitors at NTU, NTUFoodie gives you the
                        chance to access canteen and food stall information.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}